django
djangorestframework
psycopg2-binary
pillow
whitenoise
gunicorn
django-environ
django-cors-headers
django-debug-toolbar
djangorestframework-simplejwt
drf-yasg
django-filter
channels
dj-database-url
django-redis
django-axes
sentry-sdk
drf-extensions
